registry=https://pkgs.dev.azure.com/repsol-digital-team/CloudCompetenceCenter/_packaging/Respol-CloudCompentenceCenter-npm/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/microsoftLearnModule/_packaging/microsoftLearnModule/npm/registry/:username=richard.rivera@servexternos.repsol.com
//pkgs.dev.azure.com/microsoftLearnModule/_packaging/microsoftLearnModule/npm/registry/:_password=empnZmtwb2drdDdjbWRod3dxdDdjZXk0eGkyaXNrcWFtZ3Rqb3JjcHc0bXdiNTM2cGNyYQ==
//pkgs.dev.azure.com/microsoftLearnModule/_packaging/microsoftLearnModule/npm/registry/:email=richard.rivera@servexternos.repsol.com
//pkgs.dev.azure.com/microsoftLearnModule/_packaging/microsoftLearnModule/npm/:username=richard.rivera@servexternos.repsol.com
//pkgs.dev.azure.com/microsoftLearnModule/_packaging/microsoftLearnModule/npm/:_password=empnZmtwb2drdDdjbWRod3dxdDdjZXk0eGkyaXNrcWFtZ3Rqb3JjcHc0bXdiNTM2cGNyYQ==
//pkgs.dev.azure.com/microsoftLearnModule/_packaging/microsoftLearnModule/npm/:email=richard.rivera@servexternos.repsol.com
; end auth token
