@myregistry:registry=https://pkgs.dev.azure.com/repsol-digital-team/CloudCompetenceCenter/_packaging/Respol-CloudCompentenceCenter-npm/npm/registry/ 
//pkgs.dev.azure.com/repsol-digital-team/CloudCompetenceCenter/_packaging/Respol-CloudCompentenceCenter-npm/npm/registry/:_authToken=${NPM_AUTH_TOKEN}
